body {
  background-image:url('../img/wallpaper.gif');
  color: white;
  font-family: 'Playfair Display', serif;
  -webkit-animation: slide 15s linear infinite;
}

#quote-box {
  position: absolute;
  top: 20%;
  left: 5%;
  right: 5%;
  width: 90%;
  line-height: 2.3em;
  text-align: center;
}

#quotee {
  font-size: 0.95em;
}

#quote {
  font-size: 1.25em;
}

#loadQuote {
  position: fixed;
  width: 12em;
  display: inline-block;
  left: 50%;
  margin-left: -6em;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  background-color: black;
  padding: 15px 0;
  transition: .5s ;
}
#loadQuote:hover {
  background-color: rgba(255,255,255,.25);
}
#loadQuote:focus {
  outline: none;
}


@-webkit-keyframes slide {
    from { background-position: left 0; }
    to { background-position: left -1790px; }
}

@media (min-width: 769px) {
  /* custom quote box for large screen */
  #quoteBox {
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    width: 80%;
    line-height: 3em;
    text-align: center;
  }
  #quotee {
    font-size: 2em;
  }
  #quote {
    font-size: 2.5em;
  }
}
